<tr>
  <td>
    <div class="d-flex align-items-center">
      <div class="user-avatar bg-<%= color[customer.status] %> me-3"><span><%= customer.name.split(" ")[0, 2].map(&:first).join %></span></div>
      <div class="d-block">
        <span class="fw-bold"><%= customer.name %></span>
        <div class="small text-gray"><%= customer.email %></div>
      </div>
    </div>
  </td>
  <td><span class="fw-normal text-wrap"><%= customer.company %></span></td>
  <td><span class="fw-normal"><%= customer.age %></span></td>
  <td><span class="fw-normal text-<%= color[customer.status] %>"><%= customer.status %></span></td>
</tr>
